In [4]:
import psycopg2

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [7]:
try: 
    conn = psycopg2.connect("host=localhost port=5432 dbname=studentdb user=postgres password=Ram@123")
    print("Database connection Done")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

Error: Could not make connection to the Postgres database
could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Cannot assign requested address
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?

In [6]:
try: 
    cur = conn.cursor()
    print("Connection to curser Done")
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

NameError: ignored

In [ ]:
conn.set_session(autocommit=True)
print("Done")

In [ ]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_library (album_name varchar, artist_name varchar, year int);")
    print("Table creation Done")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("select count(*) from music_library")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
print(cur.fetchall())

In [ ]:
try: 
    cur.execute("INSERT INTO music_library (album_name, artist_name, year) \
                 VALUES (%s, %s, %s)", \
                 ("Let It Be", "The Beatles", 1970))
    print("Row insertion Done")
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_library (album_name, artist_name, year) \
                 VALUES (%s, %s, %s)", \
                 ("Rubber Soul", "The Beatles", 1965))
    print("Row insertion Done")
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [ ]:
try: 
    cur.execute("SELECT * FROM music_library;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

In [ ]:
try: 
    cur.execute("DROP table music_library")
    print("deleting the table Done!")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

In [ ]:
cur.close()
conn.close()
print("Closing cursor and connection Done!")