In [2]:
#Create a connection to the database

from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
    print("Connection Done!")
except Exception as e:
    print(e)

Connection Done!

In [3]:
# Creating the keyspace

try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS Technocolabs
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }""")
    session.execute("""use Technocolabs;""")
    print("creating keyspace Done!")
except Exception as e:
    print(e)

creating keyspace Done!

In [4]:
# Creating a table

query = "CREATE TABLE IF NOT EXISTS songs "
query = query + "(year int, artist_name text, song_title text, album_name text, single boolean, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
    print("Table Creation Done!")
except Exception as e:
    print(e)

Table Creation Done!

In [5]:
# Inserting the rows in to the table

query = "INSERT INTO songs (album_name, artist_name, year, single, song_title)" 
query = query + " VALUES (%s, %s, %s, %s, %s)"

try:
    session.execute(query, ("Across The Universe", "The Beatles", 1970, False, "Let It Be"))
    print("Row inserted!")
except Exception as e:
    print(e)
    
try:
    session.execute(query, ("The Beatles", "Think For Yourself", 1965, False, "Rubber Soul"))
    print("Row inserted!")
except Exception as e:
    print(e)

Row inserted!
Row inserted!

In [6]:
# Checking values inserted or not by printing them

query = 'SELECT * FROM songs'
try:
    rows = session.execute(query)
    print("Rows insertion done!")
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

Rows insertion done!
1965 The Beatles Think For Yourself
1970 Across The Universe The Beatles

In [7]:
# Execution of required query
query = "select * from songs WHERE YEAR=1970 AND artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1970 Across The Universe The Beatles

In [8]:
#closing session and cluster

session.shutdown()
cluster.shutdown()
print("Done!")

Done!